*.iml
.gradle
/local.properties
/.idea/*
.idea
builds
third_party_libraries/**
third_party_libraries

tkcore/build
tkcore/.idea
tkcore/cmake-build-debug
tkcore/*build*

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
private

**/src/test/snapshots/images/**

# protected
local.properties
