<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <!--    <uses-feature-->
    <!--        android:name="android.hardware.camera"-->
    <!--        android:required="false" />-->

    <!--    <uses-permission android:name="android.permission.CAMERA" />-->

    <dist:module
        dist:title="@string/title_qrcodescanner">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>