name: Deploy Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  wf_meta:
    name: Workflow Metadata
    runs-on: ubuntu-latest
    steps:
      - name: Get Github Object
        continue-on-error: true
        run: echo ${{ toJSON(github) }} > github.json
      - name: Upload Meta artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wf-meta
          path: |
            github.json 
            

  tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Decrypt files
        uses: klee0kai/screwdriver@dev
        with:
          cmd: "decrypt --key ${{ secrets.ENCRYPT_KEY }} --file_name ./apkSert.jks.ecrypted -w ./apkSert.jks"
      - uses: klee0kai/screwdriver@dev
        with:
          cmd: "decrypt --key ${{ secrets.ENCRYPT_KEY }} --file_name ./keystore.properties.ecrypted -w ./keystore.properties"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Test with Gradle
        continue-on-error: true
        run: ./gradlew test
      - name: Upload test artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: |
            ./**/build/reports
            ./**/build/test-results

  mikepenz_report:
    name: Prepare Mikepenz Test Report
    needs: tests
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@v3
      - name: Download Test Artifact
        uses: actions/download-artifact@v3
        with:
          name: test-report

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        with:
          report_paths: '**/build/test-results/**/*.xml'
          detailed_summary: true
          check_name: Mikepenz JUnit Test Report



      
